In [4]:
import pandas as pd

In [7]:

# Data extracted from second image
nsw_rego_new_light_passenger_battery_data = {
    'Visual Date': [
        '7/31/2022', '8/31/2022', '9/30/2022', '10/31/2022', '11/30/2022',
        '12/31/2022', '1/31/2023', '2/28/2023', '3/31/2023', '4/30/2023',
        '5/31/2023', '6/30/2023', '7/31/2023', '8/31/2023', '9/30/2023',
        '10/31/2023', '11/30/2023'
    ],
    'Vehicle Registration Transactions': [
        186, 1785, 2353, 980, 1246, 970, 1955, 1778, 300, 433,
        2558, 2855, 2419, 2111, 3162, 1818, 2897
    ]
}
# Creating the DataFrame with a name that reflects the image filename
nsw_rego_new_light_passenger_battery_df = pd.DataFrame(nsw_rego_new_light_passenger_battery_data)
# Add column to indicate 'Vehicle Type' and fill with 'Passenger'
nsw_rego_new_light_passenger_battery_df['Vehicle Type'] = 'Passenger'
# Add column to indicate 'Fuel Type` and fill with 'Electric'
nsw_rego_new_light_passenger_battery_df['Fuel Type'] = 'Electric'

# Data extracted from the third image
nsw_rego_new_light_passenger_all_data = {
    'Visual Date': [
        '7/31/2022', '8/31/2022', '9/30/2022', '10/31/2022', '11/30/2022',
        '12/31/2022', '1/31/2023', '2/28/2023', '3/31/2023', '4/30/2023',
        '5/31/2023', '6/30/2023', '7/31/2023', '8/31/2023', '9/30/2023',
        '10/31/2023', '11/30/2023'
    ],
    'Vehicle Registration Transactions': [
        18315, 21250, 20107, 18328, 20998, 17759, 19373, 14028, 2827, 6442,
        21862, 25053, 22227, 24858, 26983, 23612, 24163
    ]
}
# Creating the DataFrame with a name that reflects the image filename
nsw_rego_new_light_passenger_all_df = pd.DataFrame(nsw_rego_new_light_passenger_all_data)
# Add column to indicate 'Vehicle Type' and fill with 'Passenger'
nsw_rego_new_light_passenger_all_df['Vehicle Type'] = 'Passenger'
# Add column to indicate 'Fuel Type` and fill with 'All'
nsw_rego_new_light_passenger_all_df['Fuel Type'] = 'All'

# Data extracted from the fourth image
nsw_rego_new_light_goods_vehicle_battery_data = {
    'Visual Date': [
        '7/31/2022', '8/31/2022', '9/30/2022', '10/31/2022', '11/30/2022',
        '12/31/2022', '1/31/2023', '2/28/2023', '3/31/2023', '4/30/2023',
        '5/31/2023', '6/30/2023', '7/31/2023', '8/31/2023', '9/30/2023',
        '10/31/2023', '11/30/2023'
    ],
    'Vehicle Registration Transactions': [
        0, 0, 7, 0, 24, 32, 12, 34, 0, 0, 30, 32, 18, 19, 6, 14, 16
    ]
}

# Creating the DataFrame with a name that reflects the image filename
nsw_rego_new_light_goods_vehicle_battery_df = pd.DataFrame(nsw_rego_new_light_goods_vehicle_battery_data)
# Add column to indicate 'Vehicle Type' and fill with 'Light Commercial'
nsw_rego_new_light_goods_vehicle_battery_df['Vehicle Type'] = 'Light Commercial'
# Add column to indicate 'Fuel Type` and fill with 'Electric'
nsw_rego_new_light_goods_vehicle_battery_df['Fuel Type'] = 'Electric'


# Data extracted from the fifth image
nsw_rego_new_light_goods_vehicle_all_data = {
    'Visual Date': [
        '7/31/2022', '8/31/2022', '9/30/2022', '10/31/2022', '11/30/2022',
        '12/31/2022', '1/31/2023', '2/28/2023', '3/31/2023', '4/30/2023',
        '5/31/2023', '6/30/2023', '7/31/2023', '8/31/2023', '9/30/2023',
        '10/31/2023', '11/30/2023'
    ],
    'Vehicle Registration Transactions': [
        6491, 6971, 7607, 6994, 6887, 6710, 6216, 4931, 865, 1662,
        7138, 8757, 6154, 8001, 7715, 8207, 9149
    ]
}
# Creating the DataFrame with a name that reflects the image filename
nsw_rego_new_light_goods_vehicle_all_df = pd.DataFrame(nsw_rego_new_light_goods_vehicle_all_data)
# Add column to indicate 'Vehicle Type' and fill with 'Light Commercial'
nsw_rego_new_light_goods_vehicle_all_df['Vehicle Type'] = 'Light Commercial'
# Add column to indicate 'Fuel Type` and fill with 'All'
nsw_rego_new_light_goods_vehicle_all_df['Fuel Type'] = 'All'

df1 = pd.merge(nsw_rego_new_light_passenger_battery_df, nsw_rego_new_light_passenger_all_df, how='outer')
df2 = pd.merge(nsw_rego_new_light_goods_vehicle_battery_df, nsw_rego_new_light_goods_vehicle_all_df, how='outer')
df3 = pd.merge(df1, df2, how='outer')

df3['State'] = 'NSW'

# Rename 'Visual Date' to 'Date'
df3.rename(columns={'Visual Date': 'Date'}, inplace=True)
# Rename Vehicle Registration Transactions to 'New Registrations'
df3.rename(columns={'Vehicle Registration Transactions': 'New Registrations Per Month'}, inplace=True)
# Pivot the DataFrame to have 'Date' as the index and 'Fuel Type' as the columns
df3 = df3.pivot(index=['State','Vehicle Type','Fuel Type'], columns=['Date'], values='New Registrations Per Month')
# reset index
df3.reset_index(inplace=True)
# rename table
df3.rename_axis(None, axis=1, inplace=True)
for c in df3.columns:
    if c != 'State' and c != 'Vehicle Type' and c != 'Fuel Type':
        # convert string to datetime and to string of format YYYY-MM-DD
        new_name = pd.to_datetime(c, format='%m/%d/%Y').strftime('%Y-%m-%d')
        # rename column to new_name
        df3.rename(columns={c: new_name}, inplace=True)
    else:
        pass

# sort columns
df3 = df3.reindex(sorted(df3.columns), axis=1)
# move last 3 columns to the front
cols_at_end = ['State', 'Vehicle Type', 'Fuel Type']
df3 = df3[[c for c in cols_at_end if c in df3] + [c for c in df3 if c not in cols_at_end]]        
display(df3)
df3.to_csv("../data/processed/nsw_rego_data.csv", index=False)

,State,Vehicle Type,Fuel Type,2022-07-31,2022-08-31,2022-09-30,2022-10-31,2022-11-30,2022-12-31,2023-01-31,2023-02-28,2023-03-31,2023-04-30,2023-05-31,2023-06-30,2023-07-31,2023-08-31,2023-09-30,2023-10-31,2023-11-30
0,NSW,Light Commercial,All,6491,6971,7607,6994,6887,6710,6216,4931,865,1662,7138,8757,6154,8001,7715,8207,9149
1,NSW,Light Commercial,Electric,0,0,7,0,24,32,12,34,0,0,30,32,18,19,6,14,16
2,NSW,Passenger,All,18315,21250,20107,18328,20998,17759,19373,14028,2827,6442,21862,25053,22227,24858,26983,23612,24163
3,NSW,Passenger,Electric,186,1785,2353,980,1246,970,1955,1778,300,433,2558,2855,2419,2111,3162,1818,2897

<a style='text-decoration:none;line-height:16px;display:flex;color:#5B5B62;padding:10px;justify-content:end;' href='https://deepnote.com?utm_source=created-in-deepnote-cell&projectId=75de7644-8bd4-4ecc-bdb2-2c9ef0ed94e0' target="_blank">
<img alt='Created in deepnote.com' style='display:inline;max-height:16px;margin:0px;margin-right:7.5px;' src='' > </img>
Created in <span style='font-weight:600;margin-left:4px;'>Deepnote</span></a>